on: [push]
name: build
jobs:
  runhaskell:
    name: cabal test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v2
      - uses: actions/cache@v4
        name: Caching
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}
      - run: cabal build
